@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }
 /* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
